@use 'variables' as v;

// Font size defaults desktop
$font-size-h1: 64px;
$font-size-h2: 40px;
$font-size-h3: 32px;
$font-size-p: 16px;

.funky-text{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 10px;
    color: v.$white;
}

h1{
    font-size: $font-size-h1;
    color: v.$white;
    font-family: "Inria Sans", sans-serif;
    font-style: bold;
}

h2{
    font-size: $font-size-h2;
    color: v.$yellow;
    font-family: "Inria Sans", sans-serif;
    font-style: bold;
}

h3{
    font-size: $font-size-h3;
    color: v.$white;

}


p{
    font-size: $font-size-p;
    color: v.$light-blue;
    font-family: "Inria Sans", sans-serif;
    font-style: bold;
}