@use 'variables' as v;

// Font size defaults desktop
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 32px;
$font-size-p: 16px;

.funky-text{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 6px;
    color: v.$white;
    font-size: 36px;

}





h1{
    font-size: $font-size-h1;
    color: v.$white;
    font-family: "Inria Sans", sans-serif;
    font-style: bold;
}

h2{
    font-size: $font-size-h2;
    color: v.$yellow;
    font-family: "Inria Sans", sans-serif;
    font-style: bold;
}

h3{
    font-size: $font-size-h3;
    font-family: "Inria Sans", sans-serif;
    color: v.$white;

}


p{
    font-size: $font-size-p;
    color: v.$light-blue;
    font-family: "Inria Sans", sans-serif;
    font-style: bold;
}

@media screen and (min-width: 712px) {
    h1{
        font-size:52px;
      
    }
    
    h2{
        font-size: 40px;
 
    }

}
