.hidden{
    display: none;
}
.mobile-hide{
    display: none;
}

//logo 
.logo{
    width: 64px;
}

.dino-icon{
    width: 81px;
    height: 73px; 
}

.dino-selection {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 440px;

    ul {
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 345px; 
        position: relative;
        gap: 9px;
        scroll-behavior: smooth; 
        overflow: hidden;

        li {
            list-style: none;
      

        svg {
            width: 81px;
            height: 73px;
            transition: filter 0.3s ease-in-out;
        }
        &:hover svg path {
            fill: #79FFFF; 
            stroke: #79FFFF; 
        }
        
        &.active svg path{
            fill: #79FFFF; 
            stroke: #79FFFF; 
        }
        
        &:hover svg ellipse {
            stroke: #79FFFF;  
        }
        
        &.active svg ellipse {
            stroke: #79FFFF; 
        }
    }
    }

    // Scroll Arrows
    .arrow-up,
    .arrow-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        cursor: pointer;
        z-index: 10;
    }

    .arrow-up {
        top: 0;
        rotate: 180deg;
        margin-left: -40px;
    }

    .arrow-down {
        bottom: 0;
    }
}

// Desktop Layout (Min 1200px)
@media screen and (min-width: 1200px) {
    .logo {
        width: 87px;
    }

    .dino-icon {
        width: 93px;
        height: 83px;
    }

    .dino-selection {
        ul {
            flex-direction: row; 
            overflow: visible;
            max-height: unset;
        }

        svg {
            width: 93px;
            height: 83px;
        }

        .arrow-up,
        .arrow-down {
            display: none; 
        }
    }
}
