.hidden{
    display: none;
}
//logo 
.logo{
    width: 64px;
}

.dino-icon{
    width: 81px;
    height: 73px; 
}


//dino svg
.dino-selection{
    li{
        list-style: none;
    }
    img{
        width: 81px;
        height: 73px;
    }
}

@media screen and (min-width: 1200px) {
    .logo{
        width: 87px;
    }

    .dino-icon{
        width: 93px;
        height: 83px;
    }

    .dino-selection{
      
        img{
            width: 93px;
            height: 83px;
        }
    }
}