// Dino Selection 

.dino-selection {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 440px;

    ul {
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 345px;
        position: relative;
        gap: 9px;
        scroll-behavior: smooth;
        overflow: hidden;

        li {
            list-style: none;

            svg {
                width: 81px;
                height: 73px;
                transition: filter 0.3s ease-in-out;
            }

            &:hover svg path {
                fill: #79FFFF;
                stroke: #79FFFF;
            }

            &.active svg path {
                fill: #79FFFF;
                stroke: #79FFFF;
            }

            &:hover svg ellipse {
                stroke: #79FFFF;
            }

            &.active svg ellipse {
                stroke: #79FFFF;
            }
        }
    }


    .arrow-up,
    .arrow-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        cursor: pointer;
        z-index: 10;
    }

    .arrow-up {
        top: 0;
        rotate: 180deg;
        margin-left: -40px;
    }

    .arrow-down {
        bottom: 0;
    }
}

.selected-icon {
    margin: 0;
   svg path {
    width: 60px;
        fill: #79FFFF;
        stroke: #79FFFF;
    }

svg ellipse {
        stroke: #79FFFF;
    }
}

@media screen and (min-width: 720px) {

    
    .dino-icon {
        width: 93px;
        height: 83px;
    }

    .dino-selection {
        margin-top: -.5em;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 items per row */
        gap: 0px;
        padding: 0 10px;
        height: auto; /* Adjust height to fit content */
    }

    .dino-selection ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 items per row */
        gap: 10px;
        max-height: unset;
        overflow: visible;
        padding: 0;
    }

    .dino-selection li {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .arrow-up,
    .arrow-down {
        display: none;
    }
}